* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: rgb(50, 167, 145);
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

main {
    display: flex;
}

#evaluation-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 675px;
}

.trybewarts-login {
    display: flex;
    align-items: center;
}
#evaluation-form div {
    display: flex;
}
#trybewarts-forms-logo {
    height: 500px;
}
#input-name, #input-lastname {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.column-container {
    display: flex;
    flex-direction: column;
    flex: 40%;
}
textarea {
    resize: none;
}

div#rates {
    display: flex;
    justify-content: space-between;
}

div#rate {
    display: flex;
    align-items: center;
}

div#rates {
    display: flex;
    justify-content: space-between;
}

