@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
}

body { background-color: rgb(239, 239, 239); }

body , input::placeholder , option , select , #entrar , #submit-btn {
  font-family: Inknut Antiqua , serif;
}

main {
  display: flex;
  margin: auto 80px;
  justify-content: space-between;
  align-items: center;
}

h1 { color: white; }

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  resize: none;
  border: 2px solid rgb(78, 44, 131);
  padding: 6px;
  border-radius: 10px;
}

footer {
  display: flex;
  background-color: rgb(60, 64, 74);
  height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 25px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

.trybewarts-header-logo {
  width: 85px;
  margin-left: 27px;
}

.column-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#evaluation-form {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 675px;
  justify-content: space-between;
}

#trybewarts-forms-logo { height: 500px; }

#entrar , #submit-btn {
  padding: 0 50px;
  background-color: rgb(78, 44, 131);
  color: white;
  border: none;
  border-radius: 5px;
}

#submit-btn { opacity: 0.8; }

#email , #senha , #entrar { margin-right: 15px; }

#email , #senha {
  border: none;
  padding: 10px 0 10px 8px;
  border-radius: 5px;
}

#name-lastname , #email-house {
  display: flex;
  justify-content: space-between;
}

#input-name {
  flex-grow: 1;
  margin-right: 3px;
}

#input-lastname {
  flex-grow: 1;
  margin-left: 3px;
}

#input-email {
  flex-grow: 1;
  margin-right: 3px;
}

#email-house label { margin: auto 3px; }

#input-name , #input-lastname , #input-email {
  border: none;
  padding: 10px 45px 10px 8px;
  border-radius: 8px;
}

#input-name , #input-lastname {
  margin-bottom: 20px;
  padding-bottom: 13px;
  padding-top: 13px;
}

#house {
  color: gray;
  background-color: white;
  border: none;
  padding: 3px 0 1px 5px;
  border-radius: 5px;
  width: 279px;
}

#rates {
  display: flex;
  justify-content: space-between;
}

#rate {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

#label-rate { margin-right: 12px; }

#family-content-container {
  display: flex;
  justify-content: space-between;
}

#checked-options-family {
  display: flex;
  flex-direction: column;
}

#checked-box {
  width: 266px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#evaluation-form h1 {
  color: black;
  text-align: center;
}

#comment {
  display: flex;
  flex-direction: column;
  position: relative;
}

#counter {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
}

#hr1 {
  border-top: 2px solid rgb(180, 180, 180);
  margin-top: 25px;
}

#hr2 { border-top: 2px solid rgb(217, 217, 217); }

.item-lista {
  font-size: larger;
  outline-style: double;
  background-color: white;
  border-radius: 3px;
  padding-left: 10px;
  border: rgb(244, 238, 215) solid;
}

::marker { color: rgb(50, 167, 145); }

:hover#entrar , :hover#submit-btn { background-color: rgb(87, 50, 146); }

::selection {
  color: white;
  background-color: rgb(87, 50, 146);
}

@media screen and ( max-width : 1187px ) {

  main {
    flex-flow: column-reverse;
  }

  #email , #senha , #entrar {
    margin: 2px 15px 2px 0;
  }

  #email , #senha {
    padding: 5px 0 5px 8px;
  }

  .trybewarts-login {
    align-items: stretch;
    flex-direction: column;
  }

  #email-house label { display: flex; }

  #house { flex-grow: 1; }

}

@media screen and ( max-width : 690px ) {

  #email , #senha , #entrar {
    margin-right: 5px;
  }

  .trybewarts-login {
    width: 110px;
  }

  #entrar , #submit-btn {
    padding: 0;
  }

  h1 {
    font-size: 20px;
  }

  #evaluation-form {
    display: flex;
    flex-flow: column;
    width: 118%;
  }

  #input-lastname , #input-name , #input-email {
    margin: 5px 0;
  }

  #trybewarts-forms-logo {
    height: 300px;
  }

  #email-house , #name-lastname , #family-content-container , #rates {
    flex-direction: column;
  }

}

@media screen and ( max-width : 370px ) {

  body { font-size: 10px; }

  #trybewarts-header-title { display: none; }

  #checked-box { width: auto; }

  #email-house label { font-size: 15px;}

}
